<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>
    <!-- 05/03/2012 for Larry -->
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>
